body{
    background: #fff18e;
}

#button_cotainer {
    text-align: center;
    margin: 100px auto;
}

#button {
}

footer {
    
}

footer a:link {
    
}

footer a:hover {
    
}

#box_1 {
    
}

#box_2 {
    
}
